{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block content %}
   <div class="bag-main-wrapper">
       <h4 class="text-center text-light pt-5">Shopping Bag</h4>
    	<div class="row m-0 empty-cart-wrapper">
            {% if bag_items %}
                <div class="products-wrapper offset-md-2 col-md-8 p-5">
                    <table class="table p-3 text-light">
                      <thead>
                        <tr>
                            <th class="border-0" scope="col">Product</th>
                            <th class="border-0" scope="col"></th>
                            <th class="border-0" scope="col">Price</th>
                            <th class="border-0" scope="col">Qty</th>
                            <th class="border-0" scope="col">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in bag_items %}
                            <tr>
                                <td class="w-25"><img class="img-fluid w-75" src="{{ item.product.image.url }}" alt=""></td>
                                <th>{{ item.product.name }}</th>
                                <td class="w-25">£{{ item.product.price }}</td>
                                <td scope="row"> {{ item.quantity }}</td>
                                <td>£{{ item.item_total }}</td>
                            </tr>
                        {% endfor %}

{#                            CODE INSTITUTE CODE #}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6>Bag Total:${{ total|floatformat:2 }}</h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
{#                      end of CODE INSTITUE CODE #}
                      </tbody>
                    </table>
                </div>
            {% else %}
            <div class="col-10 offset-1 d-flex justify-content-center align-items-center flex-column">
                <img class="empty-cart-svg " src="/media/undraw_Taken_re_yn20.svg">
                <h5 class=" text-light pt-3">Your Cart Is Empty!</h5>
                <p class="pl-3 pr-3 pt-0 text-light">Looks Like The Aliens Stole Your Items</p>
                <a href="{% url 'merch' %}?category=workout_gear,accessories,hoodie-jumper,shoes,active_wear"" class="store-button store-a-link d-flex align-items-center justify-content-center">Visit Store</a>
            </div>
            {% endif %}
        </div>

   </div>
{% endblock %}