{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block content %}
   <div class="bag-main-wrapper">
       <h4 class="text-center text-light pt-5">Shopping Bag</h4>
    	<div class="row m-0 empty-cart-wrapper">
            {% if bag_items %}
                <div class="products-wrapper col-12 offset-0  offset-md-2 col-md-8 pb-0 p-4">
                    <table class="table p-3 text-light mb-0">
                      <thead>
                        <tr>
                            <th class="border-0" scope="col">Product</th>
                            <th class="border-0" scope="col"></th>
                            <th class="border-0" scope="col">Price</th>
                            <th class="border-0" scope="col">Qty</th>
                            <th class="border-0" scope="col">Subtotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in bag_items %}
                            <tr>
                                <td class="w-25"><img class="img-fluid w-75" src="{{ item.product.image.url }}" alt=""></td>
                                <th>{{ item.product.name }}</th>
                                <td >£{{ item.product.price}}</td>
{#                                Code institute Code #}
                                <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn rounded-0 m-0  increment-btn"
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn rounded-0 m-0  increment-btn"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.product.has_sizes %}
                                                        <input type="hidden" name="product_size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info pointer"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right pointer" id="remove_{{ item.item_id }}" data-product-size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
{#                            End of code insittue code #}
                                <td>£{{ item.product.price | calc_subtotal:item.quantity  }}</td>
                            </tr>
                        {% endfor %}

{#                            CODE INSTITUTE CODE #}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6>Bag Total:£{{ total|floatformat:2 }}</h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    <a href="{% url 'checkout' %}" class="btn  rounded-0 ">
                                        <a href="{% url 'checkout' %}" class="btn btn-grn rounded-0 ">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
{#                      end of CODE INSTITUE CODE #}
                      </tbody>
                    </table>
                </div>
            {% else %}
                <div class="col-10 offset-1 d-flex justify-content-center align-items-center flex-column">
                    <img class="empty-cart-svg " src="/media/undraw_Taken_re_yn20.svg">
                    <h5 class=" text-light pt-3">Your Cart Is Empty!</h5>
                    <p class="pl-3 pr-3 pt-0 text-light">Looks Like The Aliens Stole Your Items</p>
                    <a href="{% url 'merch' %}?category=workout_gear,accessories,hoodie-jumper,shoes,active_wear" class="store-button store-a-link d-flex align-items-center justify-content-center">Visit Store</a>
                </div>
            {% endif %}
        </div>

   </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'merch/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}