{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class="home page m-0 p-0">
            <div class="home-page-image">
                <div class="alpha-03">               
                    <div class="container p-0 m-0 w-50">
                    <p class="home-header home-header-sub-1">building</p>
                    <p class="home-header home-header-sub-2">Your</p>
                    <p class="home-header home-header-sub-3">Future</p>
                    </div>
                    <div class="home-arrow-container align-items-end">
                        <div class="home-arrow-wrapper">
                            <div class="arrow-top">
                            </div>
                            <div class="arrow-mid">
                            </div>
                            <div class="arrow-bottom">
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>

    <section id="nutrition-seller">
        <div class="container-fluid p-5 nutrition-bg">
                    <div class="row m-0">
                        <div class="col-8 d-none d-md-block img-wrapper">
                            <img class="home-image nutrition-1 rounded" src="/media/nutrition-image-1.jpg" alt="Fruit Bowl">
                            <img class="home-image nutrition-2 rounded" src="/media/nutrition-image-2.jpg" alt="Salad Bowl">
                            <img class="home-image nutrition-3 rounded" src="/media/nutrition-image-3.jpg" alt="Food Prep">
                        </div>
                        <div class=" col-12 col-md-4 d-flex justify-content-center justify-content-md-end p-0">
                            <div class="nutrition-text-wrapper p-2 p-md-0 pr-md-5">
                                <h4 class="header nutrion-header text-center pt-md-5 pb-3">Nutrition Plans</h4>
                                <p class="home-text">All of our nutrition plans are carefully curated by expert nutritionists. Designed to be comfortable and easy to follow, they are built       to work easily with whatever lifestyle you have and to maximize your results whilst still prioritizing your health.</p>

                                <!-- Svg for mobile view -->
                                {% include 'includes/breakfast.html' %}

                                <p class="home-text pt-4">Meal plans are organized for each week, providing 3 set meals a day and a few snacks included too! Each meal plan is fitted to the       client's individual taste and preference. With a small subscription fee, you can access our premium meal plans, which, along with far more variety in the meals,    a wonderful place to find fellow foodies and share your nutrition experience with others!</p>
                                
                                <!-- Svg for mobile view -->
                                {% include 'includes/meal-plan.html' %}

                                <p class="home-text pt-4">At Brick, we strive to break down the exclusivity of nutrition plans, trying our best to fit everyone's taste and dietary limits: 	&nbsp; from vegan friendly to gluten free meals! Most of all, we aim to build a community of people, one brick at a time!</p>
                                
                                <!-- Svg for mobile view -->
                                {% include 'includes/chef.html' %}
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <section id="workout-seller">
        <div class="container-fluid p-5 workout-bg">
                    <div class="row m-0">
                        <div class=" col-12 col-md-4 d-flex justify-content-center justify-content-md-end p-0">
                            <div class="workout-text-wrapper p-2 p-md-0 pl-md-5">
                                <h4 class="header nutrion-header text-center pt-md-5 pb-3">Workout Plans</h4>
                                <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus nisl, eleifend ac sem nec, commodo efficitur sem. Ut hendrerit tellus a luctus hendrerit. Phasellus a facilisis neque. Etiam a est urna. Nunc ultrices porttitor dolor, sed accumsan velit hendrerit at. Fusce id mi accumsan, accumsan quam ultricies, faucibus quam.  </p>

                                <!-- Svg for mobile view -->
                                {% include 'includes/running.html' %}

                                <p class="home-text pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus nisl, eleifend ac sem nec, commodo efficitur sem. Ut hendrerit tellus a luctus hendrerit. Phasellus a facilisis neque. Etiam a est urna. Nunc ultrices porttitor dolor, sed accumsan velit hendrerit at. Fusce id mi accumsan, accumsan quam ultricies, faucibus quam. </p>

                                <!-- Svg for mobile view -->
                                {% include 'includes/personal-trainer.html' %}
                                
                                <p class="home-text pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus nisl, eleifend ac sem nec, commodo efficitur sem. Ut hendrerit tellus a luctus hendrerit. Phasellus a facilisis neque. Etiam a est urna. Nunc ultrices porttitor dolor, sed accumsan velit hendrerit at. Fusce id mi accumsan, accumsan quam ultricies, faucibus quam. </p>

                                <!-- Svg for mobile view -->
                                {% include 'includes/plan.html' %}
                                
                            </div>
                        </div>
                        <div class="col-8 d-none d-md-block img-wrapper">
                            <img class="workout-img workout-1 rounded " src="/media/workout-1.jpg" alt="Powerlift">
                            <img class="workout-img workout-2 rounded " src="/media/workout-2.jpg" alt="Yoga Man">
                            <img class="workout-img workout-3 rounded " src="/media/workout-3.jpg" alt="Yoga Woman">
                        </div>
                    </div>
                </div>
    </section>

    {% block postloadjs %}

        <script>
            $(function() {
                $(document).scroll(function() {
                    var $nav = $(".navbar-bg");
                    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                });
            });
        </script>
    {% endblock %}
{% endblock %}