/* Merch Page */

.merch-wrapper{
    padding: 100px 96px 0 310px;
}


.product-card{
    margin: 0 1px 0;
    border: 2px solid transparent;
    transition: scale 0.2s;
}

.product-card:hover{
    border: 2px solid #1db954;
    transform: scale(1.02);
}

.product-category{
    font-size: 14px;
    margin: 10px 0 5px !important;
}

.product-name{
    text-transform: uppercase;
    font-size: 14px;
    height: 38px;
    margin-bottom: 5px;
}

.product-price{
    font-size: 14px;
    margin-bottom: 6px;
}

.btn-filter{
    font-size: 17px !important;
}

/* Merch Filtering -------------------------------- */

.merch-navbar{
    position: fixed;
    top: 40px;
    z-index: 9999;
    padding: 15px 0;
    border-top: 1px solid transparent;
}

.merch-navbar form{
    margin: 0px 40px 0px;
}

.search-btn{
    border-top-right-radius : 8px !important;
    border-bottom-right-radius : 8px !important;
    height: 38px !important;
    display: flex;
}

.search-btn span{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.Sorting-button-merch button, 
.filter-button-merch button{
    font-family: 'Lato', sans-serif;
    background-color: #383838;
    color: white;
    height: 38px;
    width: 60px;
    border: 1px solid #3a3a3a ;
    border-radius: 8px;
} 

.Sorting-button-merch button:hover, 
.filter-button-merch button:hover{
    background-color: #1fc95a ;
    color: #383838 ;
    border: #185f31;
}

.Sorting-button-merch, 
.filter-button-merch {
    position: relative;
}

.Sorting-button-merch ul li a, 
.filter-button-merch ul li a,
.sorting-link{
    color: #f3f3f3 ;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    }

.Sorting-button-merch ul li a:hover, 
.filter-button-merch ul li a:hover,
.sorting-link:hover{
    color: #1fc95a ;
}



.Sorting-button-merch ul, 
.filter-button-merch ul{
    position: absolute;
    list-style: none;
    background-color: #383838 ;
    text-decoration: none;
    color: #dddddd;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    z-index: 11 !important;
    opacity: 0;
}

.filter-button-merch ul{
    left: 0;
    border-top-left-radius: 0px !important;
}

.Sorting-button-merch ul{
    right: 0;
    border-top-right-radius: 0px !important;
}

.Sorting-button-merch button:focus,
.filter-button-merch button:focus{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.Sorting-button-merch button:focus + ul,
.filter-button-merch button:focus + ul{
    opacity: 1;
}

.merch-navbar.scrolled {
    background-color: #161616 !important;
    transition: background-color 200ms linear;
    border-top: 1px solid #272727;
}

/* desktop filtering */

.in-row{
    background-color:  #181818;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(218, 218, 218);
    font-size: 7px;
    cursor: pointer;
    height: 38px;
    width: 74px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.in-row:hover{
    background-color: rgb(218, 218, 218);
    color: #181818;
}

.in-row-active{
    color: #1db954
}



.desktop-sorting{
    position: fixed;
    top: 100px;
    left: 96px;
    width: 200px;
    height: 700px;
    border-right: 1px solid grey;
}

.desktop-sorting ul{
    list-style: none;
}


.sorting-hr{
    width: 92%;
    background-color: darkgray;
}

/*-- Media Queries----------------*/

@media (max-width: 414px) {

    .merch-navbar form{
        margin: 0px 15px 0px;
    }

    .Sorting-button-merch button, 
    .filter-button-merch button{
        font-size: 14px;
        width: 50px;
    } 

    .merch-navbar{
        top: 37px;
    }

    .filter-button-merch{
        margin-left: 1rem;
    }
    .Sorting-button-merch{
        margin-right: 1rem
    }

    .merch-wrapper{
        padding: 100px 25px 0;
    }

    .w-100 input{
        border-top-left-radius : 8px !important;
        border-bottom-left-radius : 8px !important;
}

}
@media(min-width: 415px) and (max-width: 768px){
    
    .merch-wrapper{
        padding: 100px 25px 0;
    }

    .btn-filter{
        font-size: 13px !important;
    }

    .merch-navbar form{
    margin: 0px 30px 0px;
    }

    .merch-navbar{
        top: 37px;
    }

    .w-100 input{
    border-top-left-radius : 8px !important;
    border-bottom-left-radius : 8px !important;
    }
}


@media(min-width:1024px){
    .card-in-row-5{
        flex: 0 0 20% !important;
        max-width: 20% !important;
}
}