html{

    background-color: #000802;
}


/* Home page  */
.home-page {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    max-width: 100vh;
}

.home-page-image {
    height: 100vh;
    background: url('/media/home-page-bg.png') no-repeat center top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.alpha-03 {
    height: 100%;
    width: 100%;
    background-color: #000000a2;

}

.home-header{
    position: relative;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1db954;
    font-family: 'Permanent Marker', cursive;
}

.home-header-sub-1{
    top: 150px;
    left: 0px;
    writing-mode: vertical-rl;
}

.home-header-sub-2{
    top: -500px;
    left: 271px;
}

.home-header-sub-3{
    top: -543px;
    left: 271px;
    font-size: 74px !important;
    color: #f5f5f5 !important;
}

/* css for to animated arrows  */
.arrow-top {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
}

.arrow-mid {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
    animation-delay: 0.5s;
}

.arrow-bottom {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
    animation-delay: 1s;
}

.home-arrow-container {
    height: 60px;
    position: absolute;
    bottom: 0;
    display: inline;
    width: 100%;
    text-align: center;
}

.home-arrow-wrapper {
    display: inline-block;
    margin-bottom: 25px;
}

@keyframes arrows {
    0% {
        border-color: #1db954;
    }

    80% {
        border-color: rgb(255, 255, 255, 0);
    }

    100% {
        border-color: rgb(255, 255, 255, 0);
    }
}

/* HomePage/Nutrition-section */
.nutrition-bg{
    min-height: 100vh;
    background-image: radial-gradient(circle at 69% 86%, rgba(165, 165, 165,0.06) 0%, rgba(165, 165, 165,0.06) 25%,rgba(193, 193, 193,0.06) 25%, rgba(193, 193, 193,0.06) 50%,rgba(221, 221, 221,0.06) 50%, rgba(221, 221, 221,0.06) 75%,rgba(249, 249, 249,0.06) 75%, rgba(249, 249, 249,0.06) 100%),radial-gradient(circle at 49% 76%, rgba(129, 129, 129,0.06) 0%, rgba(129, 129, 129,0.06) 25%,rgba(164, 164, 164,0.06) 25%, rgba(164, 164, 164,0.06) 50%,rgba(200, 200, 200,0.06) 50%, rgba(200, 200, 200,0.06) 75%,rgba(235, 235, 235,0.06) 75%, rgba(235, 235, 235,0.06) 100%),radial-gradient(circle at 22% 64%, rgba(173, 173, 173,0.06) 0%, rgba(173, 173, 173,0.06) 25%,rgba(119, 119, 119,0.06) 25%, rgba(119, 119, 119,0.06) 50%,rgba(64, 64, 64,0.06) 50%, rgba(64, 64, 64,0.06) 75%,rgba(10, 10, 10,0.06) 75%, rgba(10, 10, 10,0.06) 100%),linear-gradient(307deg, rgb(255,255,255),rgb(255,255,255));
}

.img-wrapper{
    position: relative;
}

.home-image {
    position: absolute;
    max-width: 320px;
}

.nutrition-1{
    left:100px;
    top: 60px;
    z-index: 2;
}

.nutrition-2{
    left:400px;
    top: 280px;
    z-index: 3;
}

.nutrition-3{
    left: 100px;
    top: 450px;
    z-index: 2;
}

.home-text{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.nutrion-header{
    font-size: 45px;

}

.nutrition-text-wrapper{
    padding-top: 100px;
}

/* HomePage/workout-section */

.workout-text-wrapper{
    color:#EAE9E9;
}

.workout-img{
    max-width: 350px;
    position: absolute;
}

.workout-1{
    right:100px;
    top: 60px;
    z-index: 2;
}

.workout-2{
    right:430px;
    top: 280px;
    z-index: 3;
}

.workout-3{
    right: 100px;
    top: 450px;
    z-index: 2;
}

/*-- NavBar------------------------------*/

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 9999;
}


.navbar-bg {
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 0;
    padding-bottom: 0;
}

.nav-logo{
    color:#1db954;
}

.navbar-brand{
    line-height:0.8;
    transition: transform, 0.2s;
}

.navbar-brand:hover{
    transform: scale(1.2)
}

.nav-item a {
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 17px;
    transition: ease-in-out 0.4s;
}

.nav-item a:hover {
    color: #1db954;
}

.nav-toggler-button {
    color: #f2f2f2;
    font-size: 27px;
}

.navbar-bg.scrolled {
    background-color: #0f0f0f !important;
    transition: background-color 200ms linear;

}


/* Merch Page */

.product-card-wrapper{

    padding-left: 
}

.merch-wrapper{
    padding-top: 50px;
    padding-left:96px;
    padding-right:96px;
}


.product-card{
    margin-left: 10px;
    margin-right: 10px;
    min-height: 310px;
    border: 2px solid transparent;
}

.product-card:hover{
    border: 2px solid #1db954;
}

.product-category{
    font-size: 14px;
    margin: 10px 0 5px !important;
}

.product-name{
    text-transform: uppercase;
    font-size: 15px;
    height: 50px;
    margin-bottom: 10px;
}

.product-price{
    font-size: 14px;
}
/* Misc */

.header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

.all-auth-container, .workout-bg {
    background-image: radial-gradient(circle at 11% 37%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 50%,transparent 50%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 82% 7%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 46%,transparent 46%, transparent 88%,transparent 88%, transparent 100%),radial-gradient(circle at 81% 79%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 33%,transparent 33%, transparent 89%,transparent 89%, transparent 100%),radial-gradient(circle at 68% 96%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 8%,transparent 8%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 69% 20%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 84%,transparent 84%, transparent 86%,transparent 86%, transparent 100%),radial-gradient(circle at 49% 22%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 71%,transparent 71%, transparent 78%,transparent 78%, transparent 100%),radial-gradient(circle at 23% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 6%,transparent 6%, transparent 40%,transparent 40%, transparent 100%),radial-gradient(circle at 86% 33%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 13%,transparent 13%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 38% 60%, hsla(251,0%,28%,0.05) 0%, hsla(251,0%,28%,0.05) 15%,transparent 15%, transparent 61%,transparent 61%, transparent 100%),linear-gradient(0deg, hsl(167,0%,6%),hsl(167,0%,6%));
    min-height: 100vh;
}

.log-out-wrapper{
    padding-top: 70px;
    padding-left:96px;
}

.log-out-wrapper h1, p{
    color:#969696;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #1fc95a, #1db954, #21994b);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.btn-logout{
    background-color: #1fc95a;
    border: 1px solid #0f0f0f;
    border-radius: 25px;
    padding: 6px 20px 6px;
    font-family: 'Lato', sans-serif;
}

/*-- Media Queries----------------*/

@media (max-width: 414px) {
    .navbar-bg {
        background-color: rgba(0, 0, 0, 1.0);
    }

        .home-header{
        position: relative;
        font-size: 70px;
        font-weight: bold;
        text-transform: uppercase;
        color: #1db954;
        font-family: 'Permanent Marker', cursive;
    }

    .home-header-sub-1{
        top: 100px;
        left: 0px;
        writing-mode: vertical-rl;
        margin-left:26px !important;
    }

    .home-header-sub-2{
        top: -300px;
        left: 120px;
    }

    .home-header-sub-3{
        top: -330px;
        left: 120px;
        font-size: 46px !important;
        color: #f5f5f5 !important;
    }

    .alpha-03{
        background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgba(0,0,0, 0.85),rgba(0,0,0, 0.85));
    }
}

/* Iphone X  */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        

    }
