{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user_profiles/css/user_profiles.css' %}">
{% endblock %}


{% block content %}
    <section class="profiles-main-wrapper">
        <div class="row profiles-row-1 m-0 mb-3">
            <div class=" col-10 col-md-6 offset-1 offset-md-3 border pt-3 mb-3">
                <div class="img-wrapper">
                    <img src="{{ profile.profile_img.url }}" alt="" class="profile-pic ">
                </div>
                <div class="profile-data-wrapper">
                    <p class="profile-full-name">{{ profile.user.get_full_name }}</p>
                    <p class="profile-username text-muted"> {{ profile.user }}</p>
                    {% if profile.subscription_premium == True %}
                        <p class="profile-subscription-type">Subscription: <span class="sub-type-premium">Premium</span> <i class="fas fa-check text-success"> </i></p>
                    {% else %}
                        <p class="profile-subscription-type">Subscription: <span class="sub-type-free">Free</span></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row profiles-row-2 m-0">
             <div class="col-10 col-md-6 offset-1 offset-md-3 border pt-3 mb-3">
                <h3 class="text-center w-100 text-white-50">Active Plans</h3>
                 <div class="row m-0">
                     <div class="col-6">
                         <h5 class="text-center text-light">{{ profile.active_meal_plan.name }}</h5>
                         <div class="d-flex justify-content-center">
                             <img class="w-75" src="{{ profile.active_meal_plan.plan_thumb_nail.url }}" alt="MealPlanThumb">
                         </div>
                         <div class="d-flex justify-content-center">
                            <a href="{% url 'individual_plans' profile.active_meal_plan.id %}" class="btn btn-grn plan-button w-75">View Plan</a>
                         </div>
                     </div>
                     <div class="col-6">
                         <h5 class="text-center text-light">{{ profile.active_workout_plan.name }}</h5>
                         <div class="d-flex justify-content-center">
                             <img class="w-75" src="{{ profile.active_workout_plan.plan_thumb_nail.url}}" alt="MealPlanThumb">
                         </div>
                         <div class="d-flex justify-content-center">
                            <a href="{% url 'individual_workout' profile.active_workout_plan.id %}" class="btn btn-grn plan-button w-75">View Plan</a>
                         </div>
                     </div>
                     </div>
                 </div>
             </div>
        </div>
    </section>
{% endblock %}