{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'subscriptions/javascript/3dsec.js' %}"></script>
<script>
  _3dsec('{{ STRIPE_PUBLISHABLE_KEY }}', '{{payment_intent_secret}}');
</script>
{% endblock extra_js %}

{% block content %}
{#    //code from Stripe payments with django, visit the reference section in the README to find out more#}
    <div class="row py-3">
        <div class="col-lg-12 col-md-12">
           <div class="container">
              <div id="3ds_result">
              </div>
           </div>
        </div>
    </div>
{% endblock %}