{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}

{% block content %}
        <section class="subsription-plans-main-wrapper">
            <h3 class="p-3 text-light mt-5">Payment Successful</h3>

            <div class="p-3">
                <p class="text-light">You have have a premium account and have access to all this helpful information and features!</p>

                <a href="{% url 'profile' %}" class="btn btn-success">Profile</a>
            </div>
        </section>>
{% endblock %}
