{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}

{% block content %}
    <section class="subsription-plans-main-wrapper">
        <div class="row plans-wrapper">
            <div class="w-100 d-flex justify-content-center">
                <div class="cards-wrapper">
                    <div class="card pro-card sub-cards">
                        <div class="card-body">
                            <h4 class="card-title text-center text-white">Pro</h4>
                            <h2 class="card-subtitle mb-2 text-white text-center">£29.99</h2>
                            <p class="card-text text-white">Includes premium meal plans, workout plans and a 10% store discount.</p>
                        </div>
                    </div>
                    <div class="sub-includes-wrapper">
                        <ul class="list-group-item home-text">
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Basic Meal Plans</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Basic Workout Plans</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Premium Meal Plans</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Premium Workout Plans</li>                    
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;10% Store Discount</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Free Delivery</li>
                        </ul>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'make_payment' %}" id="checkout-button" class="btn btn-grn w-75">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
     <script src="{% static 'subscriptions/javascript/stripe_elements.js' %}"></script>

{% endblock %}