{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}

{% block content %}
    <section class="subsription-plans-main-wrapper">
        <div class="row plans-wrapper">
            <div class=" offset-lg-3 col-lg-3">
                <div class="cards-wrapper">
                    <div class="card basic-card sub-cards" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center text-white">Free</h5>
                            <h3 class="card-subtitle mb-2  text-center text-white">£0</h3>
                            <p class="card-text text-white">Includes basic meal/workout plans.</p>
                        </div>
                    </div>
                    <div class="sub-includes-wrapper" style="width: 18rem;">
                        <ul class="list-group-item home-text" >
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Basic Meal Plans</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Basic Workout Plans</li>
                            <li class=""><i class="fas fa-times text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premium Meal Plans</li>
                            <li class=""><i class="fas fa-times text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premium Workout Plans</li>
                            <li class=""><i class="fas fa-times text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10% Store Discount</li>
                            <li class=""><i class="fas fa-times text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Free Delivery</li>
                            <a href="{% url 'subscription-type' %}" class="card-link">Sign Up!</a>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="cards-wrapper">
                    <div class="card pro-card sub-cards">
                        <div class="card-body">
                            <h4 class="card-title text-center text-white">Pro</h4>
                            <h2 class="card-subtitle mb-2 text-white text-center">£8.99</h2>
                            <p class="card-text text-white">Includes premium meal plans, workout plans and a 10% store discount.</p>
                        </div>
                    </div>
                    <div class="sub-includes-wrapper">
                        <ul class="list-group-item home-text">
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Basic Meal Plans</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Basic Workout Plans</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Premium Meal Plans</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;Premium Workout Plans</li>                    
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;10% Store Discount</li>
                            <li class=""><i class="fas fa-check text-success"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Free Delivery</li>
                            <a href="{% url 'subscription-type' %}" class="card-link">Sign Up!</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}