{% extends "base.html" %}
{% load static %}


{% block content %}
    {% include 'includes/merch-navbar.html' %}
    <section class="workout-bg merch-wrapper">
        {{ products|length }} Products{% if search_term %} found for <strong class="mb-4">"{{ search_term }}"</strong>{% endif %}
        <div class="row product-card-wrapper m-0">
            {% for product in products %}
                <div class="col-6 col-md-4 col-lg-2 col-xl-2 p-0 pb-1">
                    <div class="product-card">
                        <div class="product-card-top">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %} ">
                                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %} ">
                                    <img class="img-fluid w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="product-card-bottom">
                            <p class="text-muted product-category">{{ product.category.friendly_name }}</p>
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-price">{{ product.price }}</p>
                        </div>
                    </div>
                </div>

                <!-- Logic for horizontal divider by The Code Institute -->                       
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-sm-block d-md-none mb-2 p-0">
                                <hr style="color: white; background-color: white;">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-md-block d-lg-none mb-2 p-0">
                                <hr style="color: white; background-color: white;">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:6 %}
                            <div class="col-12 d-none d-lg-block  mb-2 p-0">
                                <hr style="color: white; background-color: white;">
                            </div>
                        {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script>
        $(function() {
            $(document).scroll(function() {
                var $nav = $(".merch-navbar");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
     </script>

     <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        var price_desc = $("#price_desc")
        var price_asc = $("#price_asc")
        var name_asc = $("#name_asc")
        var desc_name = $("#name_desc")
        var reset = $("#reset")
        var currentUrl = new URL(window.location);


        $(price_desc).click(function() {
            var sort = "price"; 
            var direction = "desc";
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
            });
        
        $(price_asc).click(function() {
            var sort = "price";
            var direction = "asc";
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
            });

        $(name_asc).click(function() {
            var sort = "name";
            var direction = "asc";
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
            });

        $(name_desc).click(function() {
            var sort = "name";
            var direction = "desc";
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
            });
        
        $(reset).click(function() {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
            });
    </script>
{% endblock %}
