{% extends "base.html" %}
{% load static %}


{% block content %}
    <section class="workout-bg merch-wrapper">
        <div class="row m-0">
            <div class="col p-0">
                <h2 class="text-center text-muted mt-5 mb-5">Merch</h2>
            </div>
        </div>

        <div class="row product-card-wrapper m-0">
            <div class="col-10 offset-1 col-md-6 offset-md-0">
                <div class=" m-5">
                    {% if product.image %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="">
                                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-10 offset-1 col-md-6 offset-md-0">
                <p>{{ product.name }}</p>
                <p class="tet-muted">{{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </section>
{% endblock %}