{% extends "base.html" %}
{% load static %}


{% block content %}
    <section class="workout-bg merch-wrapper">
        <div class="row m-0">
            <div class="col p-0">
                <h2 class="text-center text-muted mt-5 mb-5">Merch</h2>
            </div>
        </div>

        <div class="row product-card-wrapper m-0">
            {% for product in products %}
                <div class="col-6 col-md-4 col-lg-3 p-0 pb-1">
                    <div class="product-card">
                        <div class="product-card-top">
                            {% if product.image %}
                                <a href="">
                                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="product-card-bottom">
                            <p class="text-muted product-category">{{ product.category }}</p>
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-price">{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}