.bag-main-wrapper {
    min-height: 100vh;
    background-color: #242323;
}

.empty-cart-svg {
    max-width:35%;
    max-height: 35%;
}

.empty-cart-wrapper{
    min-height: 100vh;
    padding-top: 50px;
}

.store-button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #1db954;
    color: white;
}

.store-button:hover{
    background-color: #189b46;
    text-decoration: none !important;
    color: white !important;
}


.products-wrapper{
    border: 1px solid #979797 !important;
}

.product-img{
    max-width: 100px;
}

.table td, .table th{
    border-top: 1px solid #1db954 !important;
}